<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>task-identifier</string>
		<string>com.raynear.boilerplate.iOSBackgroundAppRefresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>zh</string>
		<string>ko</string>
		<string>en</string>
		<string>pt</string>
		<string>ru</string>
		<string>fr</string>
		<string>de</string>
	</array>
	<key>CFBundleName</key>
	<string>habit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3979736693761378~3627028748</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to take photos for your identity.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to securely access your account and protect your personal data.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app need your location to provide best feature based on location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app need your location to provide best feature based on location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app need your location to provide best feature based on location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed to record audio for your identity.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to select images for your identity.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos to your photo library for habit review memories.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses tracking data to provide personalized ads and improve your experience.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
